@mixin font-face(
    $font-family,
    $file-path,
    $weight: normal,
    $style: normal,
    $file-formats: eot woff2 woff ttf) {

    @font-face {
      font-family: $font-family;
      font-style: $style;
      font-weight: $weight;
      src: font-source-declaration(
                      $font-family,
                      $file-path,
                      $file-formats
      );
    }
  }
