@import './generate-font-source';
@import './font-face-mixin';

$sass-local-font-folder: '../fonts/';

@if global-variable-exists($name: 'font-families') {

    @each $font-family, $fonts in $font-families {
        $formats: eot woff2 woff ttf;
        @if (map-has-key($fonts, formats)) {
          $formats: map-get($fonts, formats);
          $fonts: map-remove($fonts, formats);
        }

        @each $font-weight, $font in $fonts {
          @include font-face(
                  $font-family: $font-family,
                  $file-path: $sass-local-font-folder + $font,
                  $weight: $font-weight,
                  $file-formats: $formats
          );
        }
      }

} @else {

    @debug 'There\'s no font families defined... May be you forgot to define $font-families variable';

}


